* {
  word-break: break-word;
}

html {
  /* font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif; */
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* background: #191d21; */
  /* color: #e9e9e9; */
}

body {
  background: #191d21;
  color: #dad8d8;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.6;
}

a {
  color: #90a2ff;
  text-decoration: none;
}
a:visited {
  color: #c68fff;
}
